@use "../../../../styles/variables" as *;

.desktop {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  padding-bottom: $windows95-taskbar-height;
}
