<section class="desktop">
  @for (shortcut of shortcuts; track $index) {
  <div class="desktop__shortcut" (dblclick)="openShortcut(shortcut.window)">
    <img class="desktop__shortcut__icon" [src]="shortcut.icon" [alt]="shortcut.name" />
    <span class="desktop__shortcut__name">{{ shortcut.name }}</span>
  </div>
  } @for (window of windowService.windowsList(); track window.instanceId) { @if
  (!window.minimized) {
  <app-windows95-window [windowId]="window.instanceId">
    @switch (window.id) { @case ('ie') {
    <app-internet-explorer />
    } @case ('my-computer') {
    <app-my-computer />
    } @case ('recycle-bin') {
    <app-recycle-bin />
    } @case ('notepad') {
    <app-notepad />
    } @case ('shutdown') {
    <app-shutdown />
    } @case ('welcome') {
    <app-welcome />
    } @case ('pdf-viewer') {
    <app-pdf-viewer />
    } @case ('knight-compiler') {
    <app-knight-compiler />
    } }
  </app-windows95-window>
  } }
</section>
