<div id="window__microsoft__internet__explorer">
  <div class="window__toolbar">
    <button class="window__toolbar-button">Back</button>
    <button class="window__toolbar-button">Forward</button>
    <button class="window__toolbar-button">Stop</button>
    <button class="window__toolbar-button">Refresh</button>
    <button class="window__toolbar-button" (click)="goHome()">Home</button>
    <button class="window__toolbar-button">Search</button>
    <button class="window__toolbar-button">Favorites</button>
    <button class="window__toolbar-button">History</button>
    <button class="window__toolbar-button">Mail</button>
    <button class="window__toolbar-button">Print</button>
  </div>

  <div class="window__address-bar">
    <span class="window__address-label">Address:</span>
    <input
      type="text"
      class="window__address-input"
      [(ngModel)]="addressInput"
      (keyup.enter)="navigate()"
      placeholder="http://www.google.com/"
    />
    <button class="window__address-button" (click)="navigate()">Go</button>
  </div>

  <div class="window__content">
    @if (browserService.currentComponent(); as component) {
      @if (browserService.currentUrl() === "search") {
        <app-search-results [searchResults]="websiteRegistryService.searchWebsites(searchInput)" />
      } @else {
        <ng-container *ngComponentOutlet="component" />
      }
    } @else {
      <div class="window__search-box">
        <img
          class="window__search__google-logo"
          src="images/windows95/windows95-ie-5-google-logo.png"
          alt="Google"
        />
        <form class="window__search__form" (ngSubmit)="search()">
          <input
            type="text"
            class="window__search-input"
            [(ngModel)]="searchInput"
            name="searchInput"
            placeholder="Search Google..."
          />
          <div class="window__search-buttons">
            <button type="submit" class="window__search-button">
              Google Search
            </button>
            <button type="button" class="window__search-button">
              I'm Feeling Lucky
            </button>
          </div>
        </form>
      </div>
      }
  </div>
</div>
