<li
  class="taskbar__menu__item"
  (click)="
    $event.stopPropagation();
    toggleSubMenu(startMenuItem());
    openWindow(startMenuItem().window)
  "
  (keydown)="onKeyDown($event)"
  tabindex="0"
  role="menuitem"
>
  <img
    class="taskbar__menu__icon"
    [src]="startMenuItem().icon"
    [alt]="startMenuItem().title"
  />
  <p class="taskbar__menu__title">
    {{ startMenuItem().title }}
  </p>

  @if (startMenuItem().submenu.length > 0) {
  <div class="taskbar__menu__arrowright"></div>

  <ul
    class="taskbar__menu__sub"
    [class.active]="activeMenuItem === startMenuItem()"
  >
    @for (subStartMenuItem of startMenuItem().submenu; track $index) {
    <app-windows95-taskbar-start-menu-item
      [startMenuItem]="subStartMenuItem"
      (click)="$event.stopPropagation()"
    />
    }
  </ul>
  }
</li>
