$text-color: #ffffff;
$red-color: #d20404;

$windows95-gray-color: #c0c0c0;
$windows95-dark-blue-color: #000082;
$windows95-desktop-background-color: #008080;
$windows95-font-family: "MS Sans Serif";
$windows95-taskbar-height: 50px;
