<section class="taskbar">
  <div class="taskbar__item taskbar--start">
    <button
      (click)="toggleStartMenu()"
      class="taskbar__btn taskbar__btn--start"
    >
      <img
        class="taskbar__btn__img"
        src="images/windows95/windows95-start.ico"
        alt="Start"
      />
      <p class="taskbar__btn__text">Start</p>
    </button>

    @if (startMenuOpen) {
      <app-windows95-taskbar-start-menu />
    }
  </div>

  @for (item of taskbarService.taskbarItemsList(); track item.instanceId) {
    <div
      class="taskbar__item taskbar__item--window"
      [class.active]="item.isActive"
      (click)="onTaskbarItemClick(item.instanceId)"
      (keydown)="onTaskbarItemKeyDown($event, item.instanceId)"
      tabindex="0"
      role="button"
    >
      <img
        class="taskbar__item-icon"
        [src]="'assets/images/windows95/' + item.icon"
        [alt]="item.title"
      />
      <span class="taskbar__item-text">{{ item.title }}</span>
    </div>
  }

  <div class="taskbar__item taskbar--clock">
    <p class="taskbar__time">{{ currentTime }}</p>
  </div>
</section>
