<article class="notepad">
  <section class="notepad__menu">
    <button class="notepad__menu__item">📁</button>
    <button class="notepad__menu__item">💾</button>
    <button class="notepad__menu__item">🖨️</button>
    <span class="notepad__menu__separator"></span>
    <button class="notepad__menu__item">✂️</button>
    <button class="notepad__menu__item">📋</button>
    <button class="notepad__menu__item">📎</button>
  </section>

  <section class="notepad__content">
    <section class="notepad__content__section">
      <h3>About Me</h3>
      <div class="notepad__content__underline"></div>
      <p>
        My programming journey began at 14 when I decided to build my first
        website using just HTML, CSS, and JavaScript. I had no idea what I was
        doing, but I was hooked. On my 15th birthday, I got the book "Java: The
        Complete Reference (Twelfth Edition).". From that moment on, programming
        wasn't just a hobby, it became an obsession. Currently working at
        Superscanner as a Software Developer, where I build and maintain
        crawlers that collect structured data from retail platforms.
        Continuously exploring new technologies to deepen my technical
        expertise.
      </p>
    </section>

    <section class="notepad__content__section">
      <h3>Hobbies</h3>
      <div class="notepad__content__underline"></div>
      <ul>
        <li>Programming Addict</li>
        <li>Japanese Language</li>
        <li>Calisthenics/Gym</li>
      </ul>
    </section>

    <section class="notepad__content__section">
      <h3>My Skills</h3>
      <div class="notepad__content__underline"></div>

      <div class="notepad__content__section__skill">
        <strong>Java</strong>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 90%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <strong>C++</strong>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 50%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <strong>PHP</strong>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 80%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <strong>Angular</strong>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 60%"></div>
        </div>
      </div>
    </section>

    <section class="notepad__content__section">
      <h3>Experience</h3>
      <div class="notepad__content__underline"></div>

      <div class="experience">
        <img src="images/Superscanner.png" alt="" />
        <div class="details">
          <h4>Superscanner – Software Developer</h4>
          <p class="year">2023 - Present</p>
          <p>
            I build and maintain web crawlers that extract pricing and
            promotional data from supermarkets. My work supports Superscanner’s
            mission to deliver high-quality retail data and insights for price
            management and strategy.
          </p>
        </div>
      </div>
    </section>

    <section class="notepad__content__section">
      <h3>Degrees</h3>
      <div class="notepad__content__underline"></div>

      <div class="degree">
        <img src="images/Nova-College.png" alt="" />
        <div class="details">
          <h4>Nova College – Software Developer</h4>
          <p class="year">2022 - 2023</p>
          <p>
            This program typically takes three years to complete, but I finished
            it in just one year through accelerated learning.
          </p>
        </div>
      </div>

      <div class="degree">
        <img src="images/Hogeschool-Leiden.png" alt="" />

        <div class="details">
          <h4>Hogeschool Leiden – Informatica</h4>
          <p class="year">2024 - Present</p>
          <p>
            I am currently studying Informatica at Hogeschool Leiden. Thanks to
            my prior programming experience, I find the coursework easy.
          </p>
        </div>
      </div>
    </section>

    <section class="notepad__content__section">
      <h3>Links</h3>
      <div class="notepad__content__underline"></div>

      <ul>
        <li>
          <strong>GitHub: </strong>
          <a href="https://github.com/MartvdZalm" target="_blank"
            >Where my code lives.</a
          >
        </li>
        <li>
          <strong>LinkedIn: </strong>
          <a
            href="https://linkedin.com/in/mart-van-der-zalm-06a9a0274"
            target="_blank"
            >Feel free to connect!</a
          >
        </li>
      </ul>
    </section>
  </section>
</article>
