<article class="notepad">
  <section class="notepad__menu">
    <button class="notepad__menu__item">📁</button>
    <button class="notepad__menu__item">💾</button>
    <button class="notepad__menu__item">🖨️</button>
    <span class="notepad__menu__separator"></span>
    <button class="notepad__menu__item">✂️</button>
    <button class="notepad__menu__item">📋</button>
    <button class="notepad__menu__item">📎</button>
  </section>

  <section class="notepad__content">
    <h2>Mart van der Zalm's Portfolio</h2>

    <div class="notepad__content__underline"></div>

    <section class="notepad__content__section">
      <h3>About Me</h3>
      <p>
        Passionate and self-motivated Software Engineer with a strong focus on
        backend development. I began programming at a young age and have
        consistently advanced my skills through both personal projects and
        professional experience. Currently working at Superscanner, where I
        develop crawlers to collect structured data from retail platforms.
        Continuously exploring new technologies to deepen my technical expertise
        and deliver robust, scalable solutions.
      </p>
    </section>

    <section class="notepad__content__section">
      <h3>My Skills</h3>

      <div class="notepad__content__section__skill">
        <p>Java</p>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 90%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <p>C++</p>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 50%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <p>PHP</p>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 80%"></div>
        </div>
      </div>

      <div class="notepad__content__section__skill">
        <p>Angular</p>
        <div class="notepad__content__section__skill__bar">
          <div style="width: 60%"></div>
        </div>
      </div>
    </section>

    <section class="notepad__content__section">
      <h3>Experience</h3>

      <div class="experience">
        <p class="year">2023-Present</p>
        <div class="details">
          <h4>Superscanner – Software Developer</h4>
          <p>
            I build and maintain web crawlers that extract pricing and
            promotional data from supermarkets. My work supports Superscanner’s
            mission to deliver high-quality retail data and insights for price
            management and strategy.
          </p>
        </div>
      </div>
    </section>
  </section>
</article>
