<article class="notepad">
  <section class="notepad__content">
    @if (resumeContent(); as content) {
      <section class="notepad__content__section">
        <img [src]="content.profileImageUrl" [alt]="content.profileImageAlt" />
      </section>

      <section class="notepad__content__section">
        <h3>About Me</h3>
        <div class="notepad__content__underline"></div>
        <p>{{ content.aboutMe }}</p>
      </section>

      <section class="notepad__content__section">
        <h3>Hobbies</h3>
        <div class="notepad__content__underline"></div>
        <ul>
          @for (hobby of content.hobbies; track $index) {
            <li>{{ hobby }}</li>
          }
        </ul>
      </section>

      <section class="notepad__content__section">
        <h3>Skills</h3>
        <div class="notepad__content__underline"></div>
        @for (skill of content.skills; track skill.name + $index) {
          <div class="notepad__content__section__skill">
            <strong>{{ skill.name }}</strong>
            <div class="notepad__content__section__skill__bar">
              <div [style.width.%]="skill.level"></div>
            </div>
          </div>
        }
      </section>

      <section class="notepad__content__section">
        <h3>Work Experience</h3>
        <div class="notepad__content__underline"></div>
        @for (
          experience of content.workExperience;
          track experience.title + $index
        ) {
          <div class="experience">
            <img [src]="experience.imageUrl" [alt]="experience.title" />
            <div class="details">
              <h4>{{ experience.title }}</h4>
              <p class="year">{{ experience.period }}</p>
              <p>{{ experience.description }}</p>
            </div>
          </div>
        }
      </section>

      @if (content.projects.length !== 0) {
        <section class="notepad__content__section">
          <h3>Projects</h3>
          <div class="notepad__content__underline"></div>
          @for (project of content.projects; track project.title + $index) {
            <div class="degree">
              <div class="details">
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
              </div>
            </div>
          }
        </section>
      }

      <section class="notepad__content__section">
        <h3>Education</h3>
        <div class="notepad__content__underline"></div>
        @for (education of content.education; track education.title + $index) {
          <div class="degree">
            <img [src]="education.imageUrl" [alt]="education.title" />
            <div class="details">
              <h4>{{ education.title }}</h4>
              <p class="year">{{ education.period }}</p>
              <p>{{ education.description }}</p>
            </div>
          </div>
        }
      </section>

      <section class="notepad__content__section">
        <h3>Languages</h3>
        <div class="notepad__content__underline"></div>
        @for (language of content.languages; track language.name + $index) {
          <div class="notepad__content__section__skill">
            <strong>{{ language.name }}</strong>
            <div class="notepad__content__section__skill__bar">
              <div [style.width.%]="language.level"></div>
            </div>
          </div>
        }
      </section>

      <section class="notepad__content__section">
        <h3>Links</h3>
        <div class="notepad__content__underline"></div>
        <ul>
          @for (link of content.links; track link.url + $index) {
            <li>
              <strong>{{ link.label }}: </strong>
              <a [href]="link.url" target="_blank" rel="noopener noreferrer">
                {{ link.description }}
              </a>
            </li>
          }
        </ul>
      </section>
    }
  </section>
</article>
